<mat-card>
    <h1>Add Post</h1>
    <form #postForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
          <div>
        <mat-form-field>
            <input matInput placeholder= "title" [(ngModel)] = "title" name = "title" required #spy #temp = "ngModel"> 
        </mat-form-field>
    </div>
    <div>
    <mat-form-field>
        <input  matInput placeholder="body"  [(ngModel)] = "body"    name = "body">
    </mat-form-field> 
</div>
        <div>
        <mat-form-field>
            <input matInput placeholder="author" [(ngModel)] = "author" name = "author" required #spy #temp = "ngModel"> 
        </mat-form-field>
    </div>
    <div>
    <button mat-raised-button color="primary" [disabled]="!postForm.form.valid">{{buttonText}}</button>
    <button mat-raised-button [routerLink]="'/posts'" >Cancel</button>
    </div>
      </div>
    </form>
    </mat-card>