<mat-card>
        <h1>SignUp</h1>
        <form #tempForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="example-container">
              <div>
            <mat-form-field>
                <input matInput placeholder= "email" [(ngModel)] = "email" name = "email" required #spy #temp = "ngModel"> 
            </mat-form-field>
        </div>
            <div>
            <mat-form-field>
                <input matInput placeholder="password" [(ngModel)] = "password" name = "password" required #spy #temp = "ngModel"> 
            </mat-form-field>
        </div>
            <div >
                <button mat-raised-button color="primary" [disabled]="!tempForm.form.valid">SignUp</button>
                <button mat-raised-button color="button" routerLink="/books" routerLinkActive="active">Cancel</button>
            </div>
          </div>
        </form>
       </mat-card>