<mat-selection-list #shoes>
    <p *ngIf = "!(authors$ | async)">Loading...</p>
    <mat-list-option *ngFor="let author of authors$ | async">
      {{author.name}}   
    </mat-list-option>
    <a mat-list-item href="addauthor" routerLinkActive="active">Addauthor</a>
  </mat-selection-list>

  