<button class= mat-raised-button color="primary" [routerLink]="['/addpost']">Add New Post</button >
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
        {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
        {{post.body}}
        
          <div>
             By: {{post.author}}
          </div>          
          <button mat-raised-button color="primary" (click)=deletePost(post.id)>
            Delete
           </button>

           <button mat-raised-button color="primary" [routerLink]="'/addpost/' + post.id">
            Edit 
            </button>
 
 
        
    </mat-expansion-panel>
  </mat-accordion>