<mat-card>
    <h4>Edit author</h4>
    <form #editauthorForm="ngForm" (ngSubmit)= 'onSubmit()'> 
 
    <div>
        <input matInput placeholder="authorname" [(ngModel)]= "authorname"
                                        name="authorname"
                                        required 
                                        #temp = "ngModel">
      
    </div>
      <div>
          
            <button mat-raised-button color="primary" [disabled]>Edit</button>
          
      
    </div>
    
    </form>
</mat-card>