<mat-card>
    <h4> Post Form</h4>
    <form #addpostForm="ngForm" (ngSubmit)= 'onSubmit()'> 
    <div>
        <input matInput placeholder="title" [(ngModel)]= "title"
                                        name="title"
                                        required 
                                        #temp = "ngModel">
    </div>
    <div>
        <input matInput placeholder="author" [(ngModel)]= "author"
                                        name="author"
                                        required 
                                        #temp = "ngModel">
    </div>
    
      <div>
            <button mat-raised-button color="primary" [disabled]>{{buttonText}}</button>
    </div>
    </form>
</mat-card>